<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}SP&SaiboT | {% endblock title %}</title>
    {{ bootstrap.load_css() }}

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}
    <title>Your page title</title>
    {% endblock %}
</head>

<body>
    <!-- Your page content -->
    {% include 'base/navbar.html' %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" data-dismiss="alert" class="close">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block body %}
    {% endblock body %}
    {{ bootstrap.load_js() }}

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {% endblock %}
</body>

</html>